.container {
    width: 500px;
    height: 800px;
    border: 1px solid #000;
    margin: 0 auto;
    resize: both; /* Cela permet de redimensionner avec la souris */
    overflow: auto; /* Nécessaire pour que resize fonctionne */
}

.container h1{
  text-align:center;
  font-style: italic;
  color: orange;
}

.container p{
  color:green;
  text-align:left;
  
}

.container img{
  height:150px;
  width:150px;
  float: left;
  border-radius:50%;
  shape-outside:margin-box;
  margin:20px 20px 10px 0;
  
}

.negatif {
  height:400px;
  width:400px;
  border-radius:50%;
  shape-outside:margin-box;
}

body{
  font-family: "Comic sans MS";
  font-size: 1.1em;
  line-height: 1.4;
}
.body-index{
  background-color: black;
}

.body-page2{
  background-color: green;
}
